@import "tailwindcss";

@font-face {
  font-family: "Junge";
  src: url("../src/assets/fonts/Junge-Regular.ttf");
}

@font-face {
  font-family: "CormorantSC-Bold";
  src: url("../src/assets/fonts/CormorantSC-Bold.ttf");
}

@font-face {
  font-family: "CormorantSC-Light";
  src: url("../src/assets/fonts/CormorantSC-Light.ttf");
}

@font-face {
  font-family: "CormorantSC-Medium";
  src: url("../src/assets/fonts/CormorantSC-Medium.ttf");
}

@font-face {
  font-family: "CormorantSC-Regular";
  src: url("../src/assets/fonts/CormorantSC-Regular.ttf");
}

@font-face {
  font-family: "CormorantSC-SemiBold";
  src: url("../src/assets/fonts/CormorantSC-SemiBold.ttf");
}

:root {
  --color-bg: #fffefa;
  --surface-color: oklch(from var(--color-bg) calc(l * 1.2) calc(c * 1.8) h);
  --button-bg: #ede9d9;
  --text-color: #131313;
  --secondary-text-color: #666666;
  --color-bg-hover: #fffefa9f;
  --button-bg-hover: #ede9d99f;
  --text-color-hover: #3c3c3c;

  font-family: var(--font-Junge), sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;
  color: var(--text-color);
  background-color: var(--color-bg);
}

@theme {
  --font-Junge: "Junge", "sans-serif";
  --font-CormorantSC: "CormorantSC-Regular", "sans-serif";
  --font-CormorantSCSemiBold: "CormorantSC-SemiBold", "sans-serif";
  --font-CormorantSCBold: "CormorantSC-Bold", "sans-serif";
  --color-gold: #c29b6b;
}

@keyframes autoShowAnimation {
  from {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.active-button {
  background-color: var(--button-bg);
  border: 2px solid transparent;
  color: var(--text-color);
  transition: 0.5s;
}

.button {
  border: 2px solid var(--button-bg);
}

.header1 {
  font-family: var(--font-CormorantSCBold);
  font-size: 3.5rem;
  line-height: 0.9;
}

.header2 {
  font-family: var(--font-CormorantSCBold);
  font-size: 2.5rem;
  line-height: 0.9;
}

.header3 {
  font-family: var(--font-CormorantSCBold);
  font-size: 1.5rem;
  line-height: 0.9;
}

.header4 {
  font-family: var(--font-CormorantSCBold);
  font-size: 1.2rem;
  line-height: 0.9;
}

.header5 {
  font-family: var(--font-CormorantSCBold);
  font-size: 1rem;
  line-height: 0.9;
}

.autoShow {
  animation: autoShowAnimation both;
  animation-timeline: view(70% 5%);
}

.menuTransition {
  transition-property: display opacity;
  transition-duration: 1s;

  transition-behavior: allow-discrete;
}

.menuNav {
  position: absolute;
  top: 64px;
  left: 0;
}

body {
  margin: 0;
}
