@import "tailwindcss";

@font-face {
  font-family: "OleoScript";
  src: url("../src/assets/fonts/OleoScript-bold.ttf");
}

@font-face {
  font-family: "OleoScriptRegular";
  src: url("../src/assets/fonts/OleoScript-Regular.ttf");
}

@font-face {
  font-family: "Biryani";
  src: url("../src/assets/fonts/Biryani-Regular.ttf");
}

:root {
  --color-bg: #fffefa;
  --surface-color: oklch(from var(--color-bg) calc(l * 1.2) calc(c * 1.8) h);
  --text-color: #333333;
  --secondary-text-color: #666666;

  font-family: Biryani, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--color-bg);
}

@theme {
  --font-OleoScript: "OleoScript", "sans-serif";
  --font-OleoScriptRegular: "OleoScriptRegular", "sans-serif";
  --color-gold: #c29b6b;
}

@keyframes autoShowAnimation {
  from {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.header1 {
  font-family: var(--font-OleoScript);
  font-size: 3.5rem;
  /*  margin-bottom: 0.75rem; */
}

.header2 {
  font-family: var(--font-OleoScript);
  font-size: 2.5rem;
  /* margin-bottom: 0.75rem; */
}

.header3 {
  font-family: var(--font-OleoScript);
  font-size: 1.5rem;
  /*  margin-bottom: 0.75rem; */
}

.header4 {
  font-family: var(--font-OleoScript);
  font-size: 1.2rem;
  /* margin-bottom: 0.75rem; */
}

.header5 {
  font-family: var(--font-OleoScript);
  font-size: 1rem;
  /* margin-bottom: 0.75rem; */
}

.autoShow {
  animation: autoShowAnimation both;
  animation-timeline: view(70% 5%);
}

.menuTransition {
  transition-property: display opacity;
  transition-duration: 1s;

  transition-behavior: allow-discrete;
}

.menuNav {
  position: absolute;
  top: 64px;
  left: 0;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  /*   min-width: 320px;
  min-height: 100vh; */
}
